.header img{
    width: 8vw;
    height: 8vh;
}

.header h1{
    font-size: 1.3rem;
    margin-top: 30px;
}

.header{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header_buttons{
    margin-left: 14px;
    margin-top: 20px;
}

.header_buttons a{
    color: white;
    text-decoration: none;
}

.header_buttons button{
    height: 4vh;
    width: 17vw;
    background-color: blue;
    border: thin solid black;
    border-radius: 5px;
    color: white;
}


.heading{
    font-size: 1.3rem;
    margin-top: 30px;
    text-align: center;
}


.flex p{
    text-align: center;
    
}

.paragraph{
    text-align: center;
    text-align: justify;
    line-height: 1.5;  
}

.flex img{
    width: 80vw;
    height: 38vh;
    margin-top: 10px;
    margin-left: 30px;
}

.partners{
    text-align: center;
    font-size: 1.5rem;
}

.logo_labels p{
    font-size: 0.8rem;
    text-align: center;
}

.logo_labels{
    margin-top: 30px;
    margin-bottom: 30px;
}

.logos img{
    width: 17vw;
    height: 5vh;
}

.logos{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

p{
    margin-left: 20px;
    margin-right: 20px;
}

img{
    width: 80vw;
    height: 38vh;
    margin-top: 10px;
    margin-left: 30px;
}

.technical_staff_image{
    margin-bottom: 30px;
}


@media (min-width: 1200px){
    .wrapper{
        margin-left: 60px;
        margin-right: 60px;
    }

    .header img{
        width: 5vw;
        height: 10vh;
    }

    .header_buttons button{
        height: 4vh;
        width: 10vw;
        background-color: blue;
        border: thin solid black;
        border-radius: 5px;
        color: white;
    }

    .header_buttons{
        margin-left: 250px;
        margin-top: 20px;
    }

    .flex img{
        width: 50vw;
        height: 50vh;
        margin-left: 250px;
    }


    .logos img{
        width: 5vw;
        height: 7vh;
    }

    .logos{
        margin-left: 400px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .logo_labels{
        display: flex;
        justify-content: center;
        margin-left: 60px;
        margin-right: 60px;
    }

    .logo_labels p{
        font-size: 0.7rem;
    }

    .technical_staff_image{
        width: 60vw;
        height: 60vh;
        margin-left: 180px;
        margin-bottom: 30px;
    }

}