.header img{
    width: 8vw;
    height: 8vh;
}

.header h1{
    font-size: 1.3rem;
    margin-top: 30px;
}

.header{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header_buttons{
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header_buttons a{
    color: white;
    text-decoration: none;
}

.header_buttons button{
    height: 4vh;
    width: 17vw;
    background-color: blue;
    border: thin solid black;
    border-radius: 5px;
    color: white;
}

/*ul{
    border: thin solid blue;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
}*/

/*label{
    border: thin solid gray;
    border-radius: 3px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
}*/

.service_image_group2 img{
    width: 30vw;
    height: 10vh;
    margin-left: 5px;
}

.project_management{
    margin-top: 30px;
}

/*.project_management p{
    border: thin solid blue;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 5px;
}*/


@media (min-width: 1200px){
    .header img{
        width: 5vw;
        height: 10vh;
    }

    .header_buttons button{
        height: 4vh;
        width: 10vw;
        background-color: blue;
        border: thin solid black;
        border-radius: 5px;
        color: white;
    }

    .header_buttons{
        margin-left: 300px;
        margin-top: 20px;
    }

    .service_image_group2 img{
        width: 15vw;
        height: 15vh;
    }

    .services{
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
    }

    
}


