.header img{
    width: 8vw;
    height: 8vh;
}

.header h1{
    font-size: 1.3rem;
    margin-top: 30px;
}

.header{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header_buttons{
    margin-left: 14px;
    margin-top: 20px;
}

.header_buttons a{
    color: white;
    text-decoration: none;
}

.header_buttons button{
    height: 4vh;
    width: 17vw;
    background-color: blue;
    border: thin solid black;
    border-radius: 5px;
    color: white;
}


.contact{
    margin-left: 10px;
}

.request_form input{
    width: 80vw;
    height: 3vh;
    margin-bottom: 18px;
}

.request_form .request_button{
    width: 40vw;
    height: 4vh;
    margin-bottom: 70px;
    background-color: blue;
    color: white;
    border: thin solid blue;
    border-radius: 4px;
}

.message{
    width: 70vw;
    height: 15vh;
    margin-bottom: 10px;
}

iframe{
    width: 90vw;
    height: 60vh;
    margin-left: 10px;
    margin-bottom: 30px;
}


@media (min-width: 1200px){
    .header img{
        width: 5vw;
        height: 10vh;
    }

    .header_buttons button{
        height: 4vh;
        width: 10vw;
        background-color: blue;
        border: thin solid black;
        border-radius: 5px;
        color: white;
    }


    .header_buttons{
        margin-left: 300px;
        margin-top: 20px;
    }

    .request_form input{
        width: 40vw;
        height: 4vh;
        margin-bottom: 18px;
    }

    .message{
        width: 40vw;
        height: 20vh;
        margin-bottom: 10px;
    }

    .request_form .request_button{
        width: 10vw;
        height: 4vh;
        margin-bottom: 70px;
        background-color: blue;
        color: white;
        border: thin solid blue;
        border-radius: 4px;
    }

    .request_form .request_button:hover{
        background-color: white;
        color: black;
        border: thin solid black;
    }

    .contact{
        display: flex;
        gap: 10rem;
        justify-content: center;
        margin-top: 50px;
    }

    iframe{
        width: 90vw;
        height: 60vh;
        margin-left: 50px;
        margin-bottom: 30px;
    }

}