.header img{
    width: 8vw;
    height: 8vh;
}

.header h1{
    font-size: 1.3rem;
    margin-top: 30px;
}

.header{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header_buttons{
    margin-left: 14px;
    margin-top: 20px;
}

.header_buttons a{
    color: white;
    text-decoration: none;
}

.header_buttons button{
    height: 4vh;
    width: 17vw;
    background-color: blue;
    border: thin solid black;
    border-radius: 5px;
    color: white;
}