.header img{
    width: 8vw;
    height: 8vh;
}

.header h1{
    font-size: 1.3rem;
    margin-top: 30px;
}

.header{
    display: flex;
    gap: 1rem;
    justify-content: center;
}


.hamburger{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.hamburger span{
    display: block;
    width: 35px;
    height: 2px;
    background-color: black;
    margin: 5px;
}

.links{
    background-color: black;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 150px;
    padding-bottom: 20px;
    position: absolute;
    display: none;
    left: 0;
}

.slide-right{
    animation: slideRight 0.3s forwards ease;
}

@keyframes slideRight{
    0%{
        left: -80%;
    }

    100%{
        left: 0;
    }
}

.links ul li a{
    color: white;
    text-decoration: none;
}

.links ul li{
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 20px;
    
}

.header_buttons{
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: none;
}

.header_buttons a{
    color: white;
    text-decoration: none;
}

.header_buttons button{
    height: 4vh;
    width: 17vw;
    background-color: blue;
    border: thin solid black;
    border-radius: 5px;
    color: white;
}

/*ul{
    border: thin solid blue;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
}*/

/*label{
    border: thin solid gray;
    border-radius: 3px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
}*/

.service_image_group2 img{
    width: 30vw;
    height: 10vh;
    margin-left: 5px;
}

.project_management{
    margin-top: 30px;
}

/*.project_management p{
    border: thin solid blue;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 5px;
}*/


@media (min-width: 1200px){
    .header img{
        width: 5vw;
        height: 10vh;
    }

    .header_buttons button{
        height: 4vh;
        width: 10vw;
        background-color: blue;
        border: thin solid black;
        border-radius: 5px;
        color: white;
    }

    .header_buttons{
        margin-left: 300px;
        margin-top: 20px;
        display: block;
    }

    .service_image_group2 img{
        width: 15vw;
        height: 15vh;
    }

    .services{
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .hamburger{
        display: none;
    }

    .links{
        display: none;
    }


    
}


